<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorNabiLink</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>

            @foreach(var navi in Navis)
            {
                <NavLink class="nav-link" href="@navi.Link">@navi.Name</NavLink>
            }

        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(GetNavi);
    }

    public List<TestNabi>? Navis { get; set; }

    public void GetNavi()
    {

        List<TestNabi> tmp = new List<TestNabi>()
        {
            new TestNabi() { Name = "Test01" , Link="/testPage/Test01"},
            new TestNabi() { Name = "Test02" , Link="/testPage/Test02"},
            new TestNabi() { Name = "Test03" , Link="/testPage/Test03"},
        };

        Navis = tmp;

    }

    public class TestNabi
    {
        public string? Name { get; set; }
        public string? Link { get; set; }
    }
  
    
}
